# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# local env files
.env*.local
.env

# vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-dev-*.log
next-dev-*.err.log

# editor / OS
.DS_Store
Thumbs.db
.idea
.vscode
